xsd/aiscriptsdiff.xsd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE schema [
  <!ENTITY ncname "\i\c*">
  <!ENTITY qname  "(&ncname;:)?&ncname;">
  <!ENTITY aname  "@&qname;">
  <!ENTITY pos    "\[\d+\]">
  <!ENTITY attr   "\[&aname;='(.)*'\]|\[&aname;=&quot;(.)*&quot;\]">
  <!ENTITY valueq "\[(&qname;|\.)=&quot;(.)*&quot;\]">
  <!ENTITY value  "\[(&qname;|\.)='(.)*'\]|&valueq;">
  <!ENTITY cond   "&attr;|&value;|&pos;">
  <!ENTITY step   "(&qname;|\*)(&cond;)*">
  <!ENTITY arg    "&qname;">
  <!ENTITY fn     "(not\(&arg;\)|boolean\(&arg;\)|true\(\)|false\(\)|name\(\)|root\((&arg;)?\)|position\(\)|last\(\))">
  <!ENTITY func   "\[&fn;\]">
  <!ENTITY piq    "processing-instruction\((&quot;&ncname;&quot;)\)">
  <!ENTITY pi     "processing-instruction\(('&ncname;')?\)|&piq;">
  <!ENTITY id     "id\(('&ncname;')?\)|id\((&quot;&ncname;&quot;)?\)">
  <!ENTITY com    "comment\(\)">
  <!ENTITY text   "text\(\)">
  <!ENTITY nspa   "namespace::&ncname;">
  <!ENTITY cnodes "(&text;(&pos;)?)|(&com;(&pos;)?)|((&pi;)(&pos;)?)">
  <!ENTITY child  "(&cnodes;|(&step;(&func;)?))">
  <!ENTITY last   "(&child;|&aname;|&nspa;)">
  <!ENTITY path   "(/|//)?((&id;)(((/|//)&step;)*((/|//)&last;))?|(&step;(/|//))*(&last;))">
  <!ENTITY patha  "(/|//)?((&id;)(((/|//)&step;)*((/|//)&child;))?|(&step;(/|//))*(&child;))">
  <!ENTITY pathc  "(&patha;|not\(&patha;\)|&fn;)">
]>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:include schemaLocation="aiscripts.xsd" />
  
  <xs:simpleType name="xpath">
    <xs:restriction base="xs:string">
      <xs:pattern value="&path;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xpath-add">
    <xs:restriction base="xs:string">
      <xs:pattern value="&patha;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xpath-cond">
    <xs:restriction base="xs:string">
      <xs:pattern value="&pathc;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pos">
    <xs:restriction base="xs:string">
      <xs:enumeration value="before"/>
      <xs:enumeration value="after"/>
      <xs:enumeration value="prepend"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="type">
    <xs:restriction base="xs:string">
      <xs:pattern value="&aname;|&nspa;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="add">
    <xs:complexContent mixed="true">
      <xs:restriction base="xs:anyType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="selectrandom" />
            <xs:group ref="equipmentmods" />
            <xs:group ref="createship" />
            <xs:group ref="createnpc" />
            <xs:group ref="createmodule" />
            <xs:group ref="createstation" />
            <xs:group ref="createobject" />
            <xs:group ref="people" />
            <xs:group ref="loadoutelements" />
            <xs:group ref="constructionsequenceelements" />
            <xs:group ref="voicedata" />
            <xs:group ref="commonconditions_event" />
            <xs:group ref="commonconditions_nonevent" />
            <xs:group ref="commonactions" />
            <xs:element name="check_all" type="checkall" />
            <xs:element name="check_any" type="checkany" />
            <xs:element name="conditions" type="interrupt_conditions_withref" />
            <xs:element name="actions" type="interrupt_actions" />
            <xs:element name="position" type="position" />
            <xs:element name="rotation" type="rotation" />
            <xs:element name="nextposition" type="position" />
            <xs:element name="param" type="run_script_param" />
            <xs:element name="do_all" type="doall" />
            <xs:element name="do_for_each" type="doforeach" />
            <xs:element name="do_any" type="doany" />
            <xs:element name="do_if" type="doif" />
            <xs:element name="do_elseif" type="doelseif" />
            <xs:element name="do_else" type="doelse" />
            <xs:element name="do_while" type="dowhile" />
            <xs:element name="library" type="interrupt_library" />
            <xs:element name="handler" type="interrupt_handler_withref" />
            <xs:element name="documentation" type="filedoc" />
            <xs:element name="order" type="orderdef" />
            <xs:element name="interrupts" type="interrupts" />
            <xs:element name="event_..." />
            <xs:element name="on_attentionchange" />
            <xs:element name="interrupt_after_time" />
            <xs:element name="interrupt" />
            <xs:element name="dock_masstraffic_drone" />
            <xs:element name="execute_custom_trade" />
            <xs:element name="execute_recyclable_trade" />
            <xs:element name="execute_trade" />
            <xs:element name="move_approach_path" />
            <xs:element name="move_docking" />
            <xs:element name="move_undocking" />
            <xs:element name="move_gate" />
            <xs:element name="move_navmesh" />
            <xs:element name="move_strafe" />
            <xs:element name="move_target_points" />
            <xs:element name="move_waypoints" />
            <xs:element name="move_to" />
            <xs:element name="resume" />
            <xs:element name="include_interrupt_actions" />
            <xs:element name="return_to_masstraffic" />
            <xs:element name="detach_from_masstraffic" />
            <xs:element name="run_script" />
            <xs:element name="save_retval" />
            <xs:element name="run_order_script" />
            <xs:element name="run_interrupt_script" />
            <xs:element name="abort_called_scripts" />
            <xs:element name="wait_for_prev_script" />
            <xs:element name="select_flight_behaviour" />
            <xs:element name="set_command" />
            <xs:element name="set_command_action" />
            <xs:element name="set_flight_behaviour" />
            <xs:element name="reset_flight_behaviour" />
            <xs:element name="set_flight_control_model" />
            <xs:element name="set_to_default_flight_control_model" />
            <xs:element name="set_avoid_collisions" />
            <xs:element name="reset_avoid_collisions" />
            <xs:element name="set_flight_assist" />
            <xs:element name="shoot_at" />
            <xs:element name="stop_moving" />
            <xs:element name="wait" />
            <xs:element name="label" />
            <xs:element name="params" />
            <xs:element name="input_param" />
            <xs:element name="editable" />
            <xs:element name="patch" />
            <xs:element name="skill" />
            <xs:element name="requires" />
            <xs:element name="location" />
            <xs:element name="aiscript" />
            <xs:element name="init" />
            <xs:element name="attention" />
            <xs:element name="on_abort" />
            <xs:element name="signature" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="sel" type="xpath-add" use="required"/>
        <xs:attribute name="pos" type="pos"/>
        <xs:attribute name="type" type="type"/>
        <xs:attribute name="if" type="xpath-cond"/>
        <xs:attribute name="silent" type="xs:boolean"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="replace">
    <xs:complexContent mixed="true">
      <xs:restriction base="xs:anyType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="selectrandom" />
            <xs:group ref="equipmentmods" />
            <xs:group ref="createship" />
            <xs:group ref="createnpc" />
            <xs:group ref="createmodule" />
            <xs:group ref="createstation" />
            <xs:group ref="createobject" />
            <xs:group ref="people" />
            <xs:group ref="loadoutelements" />
            <xs:group ref="constructionsequenceelements" />
            <xs:group ref="voicedata" />
            <xs:group ref="commonconditions_event" />
            <xs:group ref="commonconditions_nonevent" />
            <xs:group ref="commonactions" />
            <xs:element name="check_all" type="checkall" />
            <xs:element name="check_any" type="checkany" />
            <xs:element name="conditions" type="interrupt_conditions_withref" />
            <xs:element name="actions" type="interrupt_actions" />
            <xs:element name="position" type="position" />
            <xs:element name="rotation" type="rotation" />
            <xs:element name="nextposition" type="position" />
            <xs:element name="param" type="run_script_param" />
            <xs:element name="do_all" type="doall" />
            <xs:element name="do_for_each" type="doforeach" />
            <xs:element name="do_any" type="doany" />
            <xs:element name="do_if" type="doif" />
            <xs:element name="do_elseif" type="doelseif" />
            <xs:element name="do_else" type="doelse" />
            <xs:element name="do_while" type="dowhile" />
            <xs:element name="library" type="interrupt_library" />
            <xs:element name="handler" type="interrupt_handler_withref" />
            <xs:element name="documentation" type="filedoc" />
            <xs:element name="order" type="orderdef" />
            <xs:element name="interrupts" type="interrupts" />
            <xs:element name="event_..." />
            <xs:element name="on_attentionchange" />
            <xs:element name="interrupt_after_time" />
            <xs:element name="interrupt" />
            <xs:element name="dock_masstraffic_drone" />
            <xs:element name="execute_custom_trade" />
            <xs:element name="execute_recyclable_trade" />
            <xs:element name="execute_trade" />
            <xs:element name="move_approach_path" />
            <xs:element name="move_docking" />
            <xs:element name="move_undocking" />
            <xs:element name="move_gate" />
            <xs:element name="move_navmesh" />
            <xs:element name="move_strafe" />
            <xs:element name="move_target_points" />
            <xs:element name="move_waypoints" />
            <xs:element name="move_to" />
            <xs:element name="resume" />
            <xs:element name="include_interrupt_actions" />
            <xs:element name="return_to_masstraffic" />
            <xs:element name="detach_from_masstraffic" />
            <xs:element name="run_script" />
            <xs:element name="save_retval" />
            <xs:element name="run_order_script" />
            <xs:element name="run_interrupt_script" />
            <xs:element name="abort_called_scripts" />
            <xs:element name="wait_for_prev_script" />
            <xs:element name="select_flight_behaviour" />
            <xs:element name="set_command" />
            <xs:element name="set_command_action" />
            <xs:element name="set_flight_behaviour" />
            <xs:element name="reset_flight_behaviour" />
            <xs:element name="set_flight_control_model" />
            <xs:element name="set_to_default_flight_control_model" />
            <xs:element name="set_avoid_collisions" />
            <xs:element name="reset_avoid_collisions" />
            <xs:element name="set_flight_assist" />
            <xs:element name="shoot_at" />
            <xs:element name="stop_moving" />
            <xs:element name="wait" />
            <xs:element name="label" />
            <xs:element name="params" />
            <xs:element name="input_param" />
            <xs:element name="editable" />
            <xs:element name="patch" />
            <xs:element name="skill" />
            <xs:element name="requires" />
            <xs:element name="location" />
            <xs:element name="aiscript" />
            <xs:element name="init" />
            <xs:element name="attention" />
            <xs:element name="on_abort" />
            <xs:element name="signature" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="sel" type="xpath" use="required"/>
        <xs:attribute name="if" type="xpath-cond"/>
        <xs:attribute name="silent" type="xs:boolean"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="remove">
    <xs:attribute name="sel" type="xpath" use="required"/>
    <xs:attribute name="if" type="xpath-cond"/>
    <xs:attribute name="silent" type="xs:boolean"/>
  </xs:complexType>

  <!-- ===== Root element ==== -->

  <xs:element name="diff">
    <xs:annotation>
      <xs:documentation>
        XML Patch data
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element name="add" type="add">
            <xs:annotation>
              <xs:documentation>
                Add content
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="replace" type="replace">
            <xs:annotation>
              <xs:documentation>
                Replace content
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="remove" type="remove">
            <xs:annotation>
              <xs:documentation>
                Remove content
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
