xsd/cutscenesdiff.xsd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE schema [
  <!ENTITY ncname "\i\c*">
  <!ENTITY qname  "(&ncname;:)?&ncname;">
  <!ENTITY aname  "@&qname;">
  <!ENTITY pos    "\[\d+\]">
  <!ENTITY attr   "\[&aname;='(.)*'\]|\[&aname;=&quot;(.)*&quot;\]">
  <!ENTITY valueq "\[(&qname;|\.)=&quot;(.)*&quot;\]">
  <!ENTITY value  "\[(&qname;|\.)='(.)*'\]|&valueq;">
  <!ENTITY cond   "&attr;|&value;|&pos;">
  <!ENTITY step   "(&qname;|\*)(&cond;)*">
  <!ENTITY arg    "&qname;">
  <!ENTITY fn     "(not\(&arg;\)|boolean\(&arg;\)|true\(\)|false\(\)|name\(\)|root\((&arg;)?\)|position\(\)|last\(\))">
  <!ENTITY func   "\[&fn;\]">
  <!ENTITY piq    "processing-instruction\((&quot;&ncname;&quot;)\)">
  <!ENTITY pi     "processing-instruction\(('&ncname;')?\)|&piq;">
  <!ENTITY id     "id\(('&ncname;')?\)|id\((&quot;&ncname;&quot;)?\)">
  <!ENTITY com    "comment\(\)">
  <!ENTITY text   "text\(\)">
  <!ENTITY nspa   "namespace::&ncname;">
  <!ENTITY cnodes "(&text;(&pos;)?)|(&com;(&pos;)?)|((&pi;)(&pos;)?)">
  <!ENTITY child  "(&cnodes;|(&step;(&func;)?))">
  <!ENTITY last   "(&child;|&aname;|&nspa;)">
  <!ENTITY path   "(/|//)?((&id;)(((/|//)&step;)*((/|//)&last;))?|(&step;(/|//))*(&last;))">
  <!ENTITY patha  "(/|//)?((&id;)(((/|//)&step;)*((/|//)&child;))?|(&step;(/|//))*(&child;))">
  <!ENTITY pathc  "(&patha;|not\(&patha;\)|&fn;)">
]>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:include schemaLocation="cutscenes.xsd" />
  
  <xs:simpleType name="xpath">
    <xs:restriction base="xs:string">
      <xs:pattern value="&path;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xpath-add">
    <xs:restriction base="xs:string">
      <xs:pattern value="&patha;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xpath-cond">
    <xs:restriction base="xs:string">
      <xs:pattern value="&pathc;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pos">
    <xs:restriction base="xs:string">
      <xs:enumeration value="before"/>
      <xs:enumeration value="after"/>
      <xs:enumeration value="prepend"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="type">
    <xs:restriction base="xs:string">
      <xs:pattern value="&aname;|&nspa;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="add">
    <xs:complexContent mixed="true">
      <xs:restriction base="xs:anyType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="pitch" type="valuesource_single" />
            <xs:element name="yaw" type="valuesource_single" />
            <xs:element name="distance" type="valuesource_single" />
            <xs:element name="pivot" type="valuesource_posrot" />
            <xs:element name="target" type="valuesource_posrot" />
            <xs:element name="point1" type="valuesource_posrot" />
            <xs:element name="point2" type="valuesource_posrot" />
            <xs:element name="center" type="valuesource_posrot" />
            <xs:element name="elevation" type="valuesource_single" />
            <xs:element name="position" type="valuesource_posrot" />
            <xs:element name="lookdirection" type="valuesource_posrot" />
            <xs:element name="roll" type="valuesource_single" />
            <xs:element name="zoom" type="valuesource_single" />
            <xs:element name="panstart" type="valuesource_single" />
            <xs:element name="panend" type="valuesource_single" />
            <xs:element name="offset" type="valuesource_single" />
            <xs:element name="rotation" />
            <xs:element name="quaternion" />
            <xs:element name="angles" />
            <xs:element name="bias_relative" />
            <xs:element name="reference" />
            <xs:element name="keyframes" />
            <xs:element name="keyframe" />
            <xs:element name="value" />
            <xs:element name="lineofsight" />
            <xs:element name="betweenobjects" />
            <xs:element name="orbit" />
            <xs:element name="perpendicular" />
            <xs:element name="autodistance" />
            <xs:element name="autozoom" />
            <xs:element name="lock" />
            <xs:element name="takeover_position" />
            <xs:element name="video" />
            <xs:element name="camera" />
            <xs:element name="panloop" />
            <xs:element name="camera_fromto" />
            <xs:element name="start" />
            <xs:element name="end" />
            <xs:element name="camera_find" />
            <xs:element name="begin" />
            <xs:element name="camera_flyby" />
            <xs:element name="camera_flyfromto" />
            <xs:element name="camera_flyto" />
            <xs:element name="camera_follow" />
            <xs:element name="camera_lookat" />
            <xs:element name="camera_orbit" />
            <xs:element name="camera_panover" />
            <xs:element name="camera_panover_param" />
            <xs:element name="camera_panto" />
            <xs:element name="camera_detail" />
            <xs:element name="camera_animated" />
            <xs:element name="light" />
            <xs:element name="cutscene" />
            <xs:element name="director" />
            <xs:element name="params" />
            <xs:element name="param" />
            <xs:element name="environments" />
            <xs:element name="environment_implicit" />
            <xs:element name="environment_plot" />
            <xs:element name="teleport" />
            <xs:element name="anchor" />
            <xs:element name="object_group" />
            <xs:element name="presentation" />
            <xs:element name="actions" />
            <xs:element name="sequence" />
            <xs:element name="shot" />
            <xs:element name="dynamicshots" />
            <xs:element name="timings" />
            <xs:element name="timing" />
            <xs:element name="signals" />
            <xs:element name="signal" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="sel" type="xpath-add" use="required"/>
        <xs:attribute name="pos" type="pos"/>
        <xs:attribute name="type" type="type"/>
        <xs:attribute name="if" type="xpath-cond"/>
        <xs:attribute name="silent" type="xs:boolean"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="replace">
    <xs:complexContent mixed="true">
      <xs:restriction base="xs:anyType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="pitch" type="valuesource_single" />
            <xs:element name="yaw" type="valuesource_single" />
            <xs:element name="distance" type="valuesource_single" />
            <xs:element name="pivot" type="valuesource_posrot" />
            <xs:element name="target" type="valuesource_posrot" />
            <xs:element name="point1" type="valuesource_posrot" />
            <xs:element name="point2" type="valuesource_posrot" />
            <xs:element name="center" type="valuesource_posrot" />
            <xs:element name="elevation" type="valuesource_single" />
            <xs:element name="position" type="valuesource_posrot" />
            <xs:element name="lookdirection" type="valuesource_posrot" />
            <xs:element name="roll" type="valuesource_single" />
            <xs:element name="zoom" type="valuesource_single" />
            <xs:element name="panstart" type="valuesource_single" />
            <xs:element name="panend" type="valuesource_single" />
            <xs:element name="offset" type="valuesource_single" />
            <xs:element name="rotation" />
            <xs:element name="quaternion" />
            <xs:element name="angles" />
            <xs:element name="bias_relative" />
            <xs:element name="reference" />
            <xs:element name="keyframes" />
            <xs:element name="keyframe" />
            <xs:element name="value" />
            <xs:element name="lineofsight" />
            <xs:element name="betweenobjects" />
            <xs:element name="orbit" />
            <xs:element name="perpendicular" />
            <xs:element name="autodistance" />
            <xs:element name="autozoom" />
            <xs:element name="lock" />
            <xs:element name="takeover_position" />
            <xs:element name="video" />
            <xs:element name="camera" />
            <xs:element name="panloop" />
            <xs:element name="camera_fromto" />
            <xs:element name="start" />
            <xs:element name="end" />
            <xs:element name="camera_find" />
            <xs:element name="begin" />
            <xs:element name="camera_flyby" />
            <xs:element name="camera_flyfromto" />
            <xs:element name="camera_flyto" />
            <xs:element name="camera_follow" />
            <xs:element name="camera_lookat" />
            <xs:element name="camera_orbit" />
            <xs:element name="camera_panover" />
            <xs:element name="camera_panover_param" />
            <xs:element name="camera_panto" />
            <xs:element name="camera_detail" />
            <xs:element name="camera_animated" />
            <xs:element name="light" />
            <xs:element name="cutscene" />
            <xs:element name="director" />
            <xs:element name="params" />
            <xs:element name="param" />
            <xs:element name="environments" />
            <xs:element name="environment_implicit" />
            <xs:element name="environment_plot" />
            <xs:element name="teleport" />
            <xs:element name="anchor" />
            <xs:element name="object_group" />
            <xs:element name="presentation" />
            <xs:element name="actions" />
            <xs:element name="sequence" />
            <xs:element name="shot" />
            <xs:element name="dynamicshots" />
            <xs:element name="timings" />
            <xs:element name="timing" />
            <xs:element name="signals" />
            <xs:element name="signal" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="sel" type="xpath" use="required"/>
        <xs:attribute name="if" type="xpath-cond"/>
        <xs:attribute name="silent" type="xs:boolean"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="remove">
    <xs:attribute name="sel" type="xpath" use="required"/>
    <xs:attribute name="if" type="xpath-cond"/>
    <xs:attribute name="silent" type="xs:boolean"/>
  </xs:complexType>

  <!-- ===== Root element ==== -->

  <xs:element name="diff">
    <xs:annotation>
      <xs:documentation>
        XML Patch data
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element name="add" type="add">
            <xs:annotation>
              <xs:documentation>
                Add content
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="replace" type="replace">
            <xs:annotation>
              <xs:documentation>
                Replace content
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="remove" type="remove">
            <xs:annotation>
              <xs:documentation>
                Remove content
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
