xsd/cutscenes.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- ===== Simple types ==== -->

  <xs:simpleType name="identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^:@]+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="comment">
    <xs:annotation>
      <xs:documentation> Free text for documenting the element </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="interpolation">
    <xs:annotation>
      <xs:documentation> Interpolation type, can be none, linear or smooth. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="linear" />
      <xs:enumeration value="smooth" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="cycle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="repeat" />
      <xs:enumeration value="bounce" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="orientation">
    <xs:annotation>
      <xs:documentation> Orientation of value source, default is ecliptic </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ecliptic" />
      <xs:enumeration value="object" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="showside">
    <xs:annotation>
      <xs:documentation> Show side, default is left </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="left" />
      <xs:enumeration value="right" />
      <xs:enumeration value="top" />
      <xs:enumeration value="bottom" />
      <xs:enumeration value="front" />
      <xs:enumeration value="back" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pandirection">
    <xs:annotation>
      <xs:documentation> Pan direction, default is leftwards </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="leftwards" />
      <xs:enumeration value="rightwards" />
      <xs:enumeration value="upwards" />
      <xs:enumeration value="downwards" />
      <xs:enumeration value="forwards" />
      <xs:enumeration value="backwards" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="soundcamera">
    <xs:annotation>
      <xs:documentation> Which camera is used as sound listener. The default is using the player camera. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="fullscreen" />
      <xs:enumeration value="player" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="valuesource">
    <xs:annotation>
      <xs:documentation> Floating point value, or percentage of object size (append %) </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:float">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value=" *[0-9.eE-]+ *%" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="objectref">
    <xs:annotation>
      <xs:documentation> Object reference </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="objectgroupref">
    <xs:annotation>
      <xs:documentation> Object group reference </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="videoname">
    <xs:annotation>
      <xs:documentation> Video file name </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="doubleorparam">
    <xs:union memberTypes="xs:double">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="param:.+" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="floatorparam">
    <xs:union memberTypes="xs:float">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="param:.+" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:simpleType name="durationtype">
    <xs:union memberTypes="xs:double">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="auto">
            <xs:annotation>
              <xs:documentation> the object will be displayed until the duration expired. Used specifically for displaying video files </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="param:">
            <xs:annotation>
              <xs:documentation> the object will be displayed until the time for the specified parameter (which is defined in the params-block in the director element) is expired </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="onevent:">
            <xs:annotation>
              <xs:documentation> the object will be displayed until the specified event is triggered via a controlling MD script </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="onevent:stopscene">
            <xs:annotation>
              <xs:documentation> the object will be displayed until the specific event "stopscene" is triggered from control code either in the engine itself or via a controlling MD script </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="param:.+" />
          <xs:pattern value="onevent:.+" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <!-- ===== Attribute groups ==== -->

  <xs:attributeGroup name="keyframecycles">
    <xs:attribute name="cycle" type="cycle">
      <xs:annotation>
        <xs:documentation> Keyframe cycling mode, default is none </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="delay" type="xs:double">
      <xs:annotation>
        <xs:documentation> Delay between cycles in seconds. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:attributeGroup name="interpolation_options">
    <xs:attribute name="interpolation" type="interpolation">
      <xs:annotation>
        <xs:documentation> Interpolation method, default is linear. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="keyframecycles" />
  </xs:attributeGroup>

  <xs:attributeGroup name="angles">
    <xs:attribute name="pitch" type="xs:float" />
    <xs:attribute name="yaw" type="xs:float" />
    <xs:attribute name="distance" type="valuesource" />
  </xs:attributeGroup>

  <xs:attributeGroup name="angles_beginend">
    <xs:attribute name="pitch" type="xs:float" />
    <xs:attribute name="yaw" type="xs:float" />
    <xs:attribute name="distance" type="xs:float" />
  </xs:attributeGroup>

  <xs:attributeGroup name="panloop_attributes">
    <xs:attribute name="x" type="xs:float" />
    <xs:attribute name="y" type="xs:float" />
    <xs:attribute name="z" type="xs:float" />
    <xs:attribute name="pitch" type="xs:float" />
    <xs:attribute name="yaw" type="xs:float" />
    <xs:attribute name="roll" type="xs:float" />
    <xs:attribute name="time" type="xs:float" />
  </xs:attributeGroup>

  <!-- ===== Complex types ==== -->

  <xs:complexType name="posrot">
    <xs:annotation>
      <xs:documentation> A coordinate offset defined by position and rotation. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="position" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation> The position part as a triple of cartesian coordinates. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="x" type="xs:float">
            <xs:annotation>
              <xs:documentation> X coordinate. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="y" type="xs:float">
            <xs:annotation>
              <xs:documentation> Y coordinate. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="z" type="xs:float">
            <xs:annotation>
              <xs:documentation> Z coordinate. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="rotation">
          <xs:annotation>
            <xs:documentation> The rotation as a triple of yaw, pitch and roll. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="yaw" type="xs:float">
              <xs:annotation>
                <xs:documentation> Yaw (rotation around y-axis) </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="pitch" type="xs:float">
              <xs:annotation>
                <xs:documentation> Yaw (rotation around x-axis) </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="roll" type="xs:float">
              <xs:annotation>
                <xs:documentation> Roll (rotation around z-axis) </xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="quaternion">
          <xs:annotation>
            <xs:documentation> The rotation as a quadruple of quaternion coordinates. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="qx" type="xs:float">
              <xs:annotation>
                <xs:documentation> Quaternion x coordinate. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="qy" type="xs:float">
              <xs:annotation>
                <xs:documentation> Quaternion y coordinate. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="qz" type="xs:float">
              <xs:annotation>
                <xs:documentation> Quaternion z coordinate. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="qw" type="xs:float">
              <xs:annotation>
                <xs:documentation> Quaternion w coordinate. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="comment" type="comment" />
  </xs:complexType>

  <xs:complexType name="valuesource_posrot">
    <xs:choice>
      <xs:element name="angles">
        <xs:annotation>
          <xs:documentation> This value source generates coordinates given a direction (yaw angle), a height (pitch angle), and a distance The direction vector is created by making a vector (0,0,distance) and rotating that around the yaw and pitch angles. warning: When using angles in keyframes, do not mix with with other types (they are evaluated differently)! </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="pitch" type="valuesource_single" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation> Pitch angle in degrees </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="yaw" type="valuesource_single" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation> Yaw angle in degrees </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="distance" type="valuesource_single" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation> Distance in world units (use 1 for a unit vector). </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attribute name="comment" type="comment" />
        </xs:complexType>
      </xs:element>
      <xs:element name="bias_relative">
        <xs:annotation>
          <xs:documentation> This value source transforms a nested set of input coordinates relative to a reference object or group. However, only the rotation of the object in the x-z plane is considered; the coordinates are not elevated above or below the y coordinate of the object. This is useful for keeping a camera vertically oriented to the zone ecliptic plane. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="valuesource_posrot">
              <xs:attribute name="reference" type="objectref">
                <xs:annotation>
                  <xs:documentation> Specifies the reference object to transform relative to. Cannot be combined with group. </xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="detail">
                <xs:annotation>
                  <xs:documentation> Optional. Specifies a connection on the reference object to move relative to. Mostly useful for showing specific surface elements on a capital ship or station; however, consider using the camera_detail preset instead. Cannot be used with group. </xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="group" type="objectgroupref">
                <xs:annotation>
                  <xs:documentation> Specifies an object group to transform relative to. Note that the rotation of a group is always defined as zero, so this will only move the coordinates, not rotate them in any way. Cannot be combined with reference or used with detail. </xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="reference">
        <xs:annotation>
          <xs:documentation> This value source yields the value of an object's position within its current zone, or the weighted center of an object group. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="object" type="objectref">
            <xs:annotation>
              <xs:documentation> Causes the value source to return the position of the given reference object at the time at which the value source is queried. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="group" type="objectgroupref">
            <xs:annotation>
              <xs:documentation> Causes the value source to return the weighted center of the given reference object group, as defined in the cutscene's object group definitions section. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="comment" type="comment" />
          <xs:attribute name="head" type="xs:boolean">
            <xs:annotation>
              <xs:documentation> The given offset is relative to the head position of a NPC (defaults to false) </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="x" type="xs:string">
            <xs:annotation>
              <xs:documentation> Additional X offset to the reference object. Can be a parameter (defaults to 0) </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="y" type="xs:string">
            <xs:annotation>
              <xs:documentation> Additional Y offset to the reference object. Can be a parameter (defaults to 0) </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="z" type="xs:string">
            <xs:annotation>
              <xs:documentation> Additional Z offset to the reference object. Can be a parameter (defaults to 0) </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="keyframes">
        <xs:annotation>
          <xs:documentation> Contains a set of keyframe tags specifying keyframing for a sequence of values. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="keyframe">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="valuesource_posrot">
                    <xs:attribute name="timestamp" use="required" type="doubleorparam">
                      <xs:annotation>
                        <xs:documentation> Specifies the time at which the keyframe begins in milliseconds (supports parameters). Warning: When using parameters, changing them at runtime and using "Refresh Cutscenes", the keyframe cache will not be updated! </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="interpolation" type="interpolation">
                      <xs:annotation>
                        <xs:documentation> Specifies the method used to interpolate values between this keyframe and the next one, default is none. </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attributeGroup ref="keyframecycles" />
          <xs:attribute name="comment" type="comment" />
        </xs:complexType>
      </xs:element>
      <xs:element name="value" minOccurs="1" maxOccurs="3">
        <xs:complexType>
          <xs:attribute name="exact" type="xs:float" />
          <xs:attribute name="var" type="xs:string" />
          <xs:attribute name="comment" type="comment" />
        </xs:complexType>
      </xs:element>
      <xs:element name="lineofsight">
        <xs:annotation>
          <xs:documentation> This value source creates a line of sight that aligns two targets, and places the camera along that line. The line of sight can be thought of as a ray that starts at the pivot point, passes through the target point, and then passes through the camera position. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="pivot" type="valuesource_posrot">
              <xs:annotation>
                <xs:documentation> Pivot Point. </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="target" type="valuesource_posrot">
              <xs:annotation>
                <xs:documentation> Target Point. </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="distance" type="valuesource_single">
              <xs:annotation>
                <xs:documentation> Distance from target. </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attribute name="comment" type="comment" />
        </xs:complexType>
      </xs:element>
      <xs:element name="betweenobjects">
        <xs:annotation>
          <xs:documentation> This value source creates a line segment between two positions, then places the final coordinates along that segment between points. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="point1" type="valuesource_posrot">
              <xs:annotation>
                <xs:documentation> Target point. </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="point2" type="valuesource_posrot">
              <xs:annotation>
                <xs:documentation> Other end point. </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="distance" type="valuesource_single">
              <xs:annotation>
                <xs:documentation> Distance from target point. </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attribute name="comment" type="comment" />
        </xs:complexType>
      </xs:element>
      <xs:element name="orbit">
        <xs:annotation>
          <xs:documentation> This value source generates a circular path that "orbits" a given center point. The center coordinates are provided by a nested value source, as well as the orbit's radius and elevation (height above the ecliptic, i.e. the y coordinate). The orbit can be constrained to an arc rather than a full circle by providing start and stop angles, specified in degrees. The total time to complete one revolution (or one pass of the arc) can be configured as well. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="center" type="valuesource_posrot" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation> The center of the circle. </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="distance" type="valuesource_single" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation> The radius of the circle. </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="elevation" type="valuesource_single" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation> The elevation above the circle. </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attribute name="startangle" type="xs:float">
            <xs:annotation>
              <xs:documentation> Start angle, default is 0 </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="stopangle" type="xs:float">
            <xs:annotation>
              <xs:documentation> End angle, default is 360 </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="duration" type="xs:double">
            <xs:annotation>
              <xs:documentation> Duration in ms, default is 15000 </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="comment" type="comment" />
        </xs:complexType>
      </xs:element>
      <xs:element name="perpendicular">
        <xs:annotation>
          <xs:documentation> Start with two points, and draw a line connecting them. Then find a line perpendicular to that line, which is also parallel to the ecliptic plane. Finally, locate the intersection of the two lines, and move away from that intersection by a given distance. This is the final result of the value source. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="point1" type="valuesource_posrot">
              <xs:annotation>
                <xs:documentation> First Point. </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="point2" type="valuesource_posrot">
              <xs:annotation>
                <xs:documentation> Second Point. </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="distance" type="valuesource_single" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation> The distance. </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attribute name="comment" type="comment" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="comment" type="comment" />
  </xs:complexType>

  <xs:complexType name="valuesource_single">
    <xs:choice>
      <xs:element name="autodistance">
        <xs:annotation>
          <xs:documentation> This value source computes the distance needed between a camera and its current focus point in order to display the object as filling a given portion of the screen. The reference object or group is automatically determined from the shot's given camera; it is not necessary to specify a reference directly. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="fillspace" type="xs:float">
            <xs:annotation>
              <xs:documentation> Percentage of the screen or event monitor to fill with the camera's reference object or group. This can be any value 1 or higher; values over 100 will cause the camera to zoom in extra close on the surface of the object or group, and the edges/outermost members will be off the sides of the screen. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="comment" type="comment" />
        </xs:complexType>
      </xs:element>
      <xs:element name="autozoom">
        <xs:annotation>
          <xs:documentation> This value source computes a zoom value that automatically fills the screen with a target object or group. The amount of the screen filled can be configured. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="reference" type="objectref">
            <xs:annotation>
              <xs:documentation> The reference object that should fill the view. Cannot be combined with group. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="group" type="objectgroupref">
            <xs:annotation>
              <xs:documentation> The object group that should fill the view. Cannot be combined with reference. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="fillspace" type="xs:float" use="required">
            <xs:annotation>
              <xs:documentation> Percentage of the screen or event monitor to fill with the object or group. This can be any value 1 or higher; values over 100 will cause the camera to zoom in extra close on the surface of the object or group, and the edges/outermost members will be off the sides of the screen. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="comment" type="comment" />
        </xs:complexType>
      </xs:element>
      <xs:element name="keyframes">
        <xs:annotation>
          <xs:documentation> Contains a set of keyframe tags specifying keyframing for a sequence of values. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="keyframe">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="valuesource_single">
                    <xs:attribute name="timestamp" type="xs:double" use="required">
                      <xs:annotation>
                        <xs:documentation> Specifies the time at which the keyframe begins. </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="interpolation" type="interpolation">
                      <xs:annotation>
                        <xs:documentation> Interpolation, default is none. </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attributeGroup ref="keyframecycles" />
          <xs:attribute name="comment" type="comment" />
        </xs:complexType>
      </xs:element>
      <xs:element name="value">
        <xs:annotation>
          <xs:documentation> The simplest type of value source. It always returns the same value regardless of the input timestamp. By default, this returns one value at a time; if you want a 3D vector, use three consecutive value tags, one for X, Y, and Z, respectively. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="var" type="xs:string">
            <xs:annotation>
              <xs:documentation> The name of a float parameter. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="exact" type="xs:float">
            <xs:annotation>
              <xs:documentation> An exact value number. Can only be used by itself. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="percentage" type="xs:float">
            <xs:annotation>
              <xs:documentation> Percentage of the size of the object or group specified in the reference attribute. Cannot be used with exact. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="scaleref">
            <xs:annotation>
              <xs:documentation> A value relative to the size of a particular reference object or object group. Cannot be combined with exact; must be used with percentage. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="comment" type="comment" />
        </xs:complexType>
      </xs:element>
      <xs:element name="lock">
        <xs:annotation>
          <xs:documentation> This value source behaves like a normal value source, until a specified duration elapses. After that, it returns its last value and does not change again. A single valuesource has to be specified inside this. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="valuesource_single">
              <xs:attribute name="time" use="required">
                <xs:annotation>
                  <xs:documentation> Time after which the value is locked. </xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="comment" type="comment" />
  </xs:complexType>

  <xs:complexType name="shot">
    <xs:sequence>
      <xs:element name="takeover_position" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="duration">
            <xs:annotation>
              <xs:documentation> Controls the amount of time taken for the camera to move from the old position to the new, default is 1000 </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="interpolation" type="interpolation">
            <xs:annotation>
              <xs:documentation> Controls the interpolation method used to move the camera, default is linear. </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="video">
          <xs:complexType>
            <xs:attribute name="name" type="videoname" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="1">

        <xs:element name="camera">
          <xs:annotation>
            <xs:documentation> A static camera defined by position and lookat position (focus point). </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="position" type="valuesource_posrot" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> The position of the camera. </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="lookdirection" type="valuesource_posrot" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> The position towards which the camera is pointed. </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> The roll rotation applied to the camera. </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> The field of view of the camera, which can be thought of as a zoom factor. </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="panloop" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> An additional pan loop to wiggle the camera a bit, given in positional and rotational variation and loop duration. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attributeGroup ref="panloop_attributes" />
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

        <xs:element name="camera_fromto">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="start">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="position" type="valuesource_posrot" minOccurs="0" maxOccurs="1" />
                    <xs:element name="lookdirection" type="valuesource_posrot" minOccurs="0" maxOccurs="1" />
                    <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
                    <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
                  </xs:all>
                  <xs:attribute name="comment" type="comment" />
                </xs:complexType>
              </xs:element>
              <xs:element name="end">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="position" type="valuesource_posrot" minOccurs="0" maxOccurs="1" />
                    <xs:element name="lookdirection" type="valuesource_posrot" minOccurs="0" maxOccurs="1" />
                    <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
                    <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
                  </xs:all>
                  <xs:attribute name="time" type="xs:double" />
                  <xs:attribute name="comment" type="comment" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

        <xs:element name="camera_find">
          <xs:annotation>
            <xs:documentation> This camera appears to search randomly for a target object, then find it and lock on to it quickly. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="pitch" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="yaw" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="distance" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="begin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attributeGroup ref="angles_beginend" />
                </xs:complexType>
              </xs:element>
              <xs:element name="end" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attributeGroup ref="angles_beginend" />
                  <xs:attribute name="time" type="xs:double" />
                </xs:complexType>
              </xs:element>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
            </xs:all>
            <xs:attribute name="lookat_reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Reference object to appear to search for and find. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="position_reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Reference object near which the camera is placed. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="interpolation_options" />
            <xs:attribute name="time_search" type="xs:double">
              <xs:annotation>
                <xs:documentation> Search time in ms, default is 5000 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="time_lockon" type="xs:double">
              <xs:annotation>
                <xs:documentation> Lock time in ms, default is 3000 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="fillspace" type="xs:float">
              <xs:annotation>
                <xs:documentation> Percentage of the screen to fill with the target once it is locked on. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="angles" />
            <xs:attribute name="orient_to" type="orientation" />
            <xs:attribute name="jitter" type="xs:float">
              <xs:annotation>
                <xs:documentation> Factor controlling how jumpy the camera movement is. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

        <xs:element name="camera_flyby">
          <xs:annotation>
            <xs:documentation> This camera appears to fly past the target object. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="begin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="distance" type="valuesource" />
                  <xs:attribute name="offset" type="valuesource" />
                  <xs:attribute name="elevation" type="valuesource" />
                </xs:complexType>
              </xs:element>
              <xs:element name="end" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="distance" type="valuesource" />
                  <xs:attribute name="offset" type="valuesource" />
                  <xs:attribute name="elevation" type="valuesource" />
                  <xs:attribute name="time" type="xs:double" />
                </xs:complexType>
              </xs:element>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
            </xs:all>
            <xs:attribute name="reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Object to fly by. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="interpolation_options" />
            <xs:attribute name="distance" type="valuesource">
              <xs:annotation>
                <xs:documentation> Distance away from the object to place the camera. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="offset" type="valuesource">
              <xs:annotation>
                <xs:documentation> Distance the object must travel before becoming visible. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="elevation" type="valuesource">
              <xs:annotation>
                <xs:documentation> Distance above or below the object where the camera should be placed. Elevation is the height above the ecliptic (i.e. the y coordinate - which is not the same as the pitch-angle). </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="time" type="xs:double" />
            <xs:attribute name="orient_to" type="orientation" />
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

        <xs:element name="camera_flyfromto">
          <xs:annotation>
            <xs:documentation> This camera flies from one object to another, divided in three phases: phase1: orbit1 (t=0 to time_firstobject) phase2: move/rotate from object 1 to object2 (t=time_firstobject to t=time_firstobject+time_fly) phase3: orbit2 (t=time_firstobject+time_fly to duration) </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="end" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="time" type="xs:double" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
            </xs:all>
            <xs:attribute name="reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> First object to display. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="flyto_reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Second object to fly towards. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="interpolation_options" />
            <xs:attribute name="time_firstobject" type="xs:double">
              <xs:annotation>
                <xs:documentation> Time to spend showing the first object, in ms, default is 8000 To skip the first orbit phase use a value of 1; using 0 causes problems </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="time_fly" type="xs:double">
              <xs:annotation>
                <xs:documentation> Time to spend flying towards the second object, in ms, default is 5000 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="distance" type="doubleorparam">
              <xs:annotation>
                <xs:documentation> Distance away from the first object to initially place the camera, in percentage of the object's size, default is 200 (e.g. 200 means the target fills 1/2 the display, 100 means target entirely fills the display, 50 means you we zoomed in and only see part of the target) </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="flyto_distance" type="doubleorparam">
              <xs:annotation>
                <xs:documentation> Distance away from the second object to place the camera when it finishes flying, in percentage of the object's size, default is 200 (e.g. 200 means the target fills 1/2 the display, 100 means target entirely fills the display, 50 means you we zoomed in and only see part of the target) </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="orbit1_yaw_start" type="doubleorparam">
              <xs:annotation>
                <xs:documentation> Yaw angle in degrees at the start of phase 1, default = 0 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="orbit1_yaw_end" type="doubleorparam">
              <xs:annotation>
                <xs:documentation> Yaw angle in degrees at the end of phase 1, default = 6 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="orbit1_elevation" type="doubleorparam">
              <xs:annotation>
                <xs:documentation> Elevation in worldspace units duringphase 1 (t=0 to time_firstobject), default = 15 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="orbit2_yaw_start" type="doubleorparam">
              <xs:annotation>
                <xs:documentation> Yaw angle for start of phase 3, default = 170 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="orbit2_yaw_end" type="doubleorparam">
              <xs:annotation>
                <xs:documentation> Yaw angle at the end of phase 3, default = 164 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="orbit2_pitch" type="doubleorparam">
              <xs:annotation>
                <xs:documentation> Pitch angle in degrees during phase 3, default = 30 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="orient_to" type="orientation" />
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

        <xs:element name="camera_flyto">
          <xs:annotation>
            <xs:documentation> This camera appears to fly up to an object. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="begin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="fillspace" type="xs:float" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="end" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="fillspace" type="xs:double" use="required" />
                  <xs:attribute name="time" type="xs:double" />
                </xs:complexType>
              </xs:element>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
            </xs:all>
            <xs:attribute name="reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> The object to display. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="interpolation_options" />
            <xs:attribute name="pitch" type="xs:float" />
            <xs:attribute name="yaw" type="xs:float" />
            <xs:attribute name="distance" type="valuesource" />
            <xs:attribute name="fillspace" type="xs:float">
              <xs:annotation>
                <xs:documentation> Percentage of the screen to fill with the target when the camera finishes moving. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="time" type="xs:double" />
            <xs:attribute name="orient_to" type="orientation" />
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

        <xs:element name="camera_follow">
          <xs:annotation>
            <xs:documentation> This camera follows a target object as it flies around. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="begin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="distance" type="valuesource_single" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation> Distance from target point (supporting var=). Note: If this element is defined, the distance-attribute is ignored! </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="pitch" type="valuesource_single" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation> Pitch (supporting var=). Note: If this element is defined, the distance-attribute is ignored! </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="yaw" type="valuesource_single" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation> Yaw (supporting var=). Note: If this element is defined, the distance-attribute is ignored! </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:all>
                  <xs:attributeGroup ref="angles_beginend" />
                </xs:complexType>
              </xs:element>
              <xs:element name="end" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="distance" type="valuesource_single" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation> Distance from target point (supporting var=). Note: If this element is defined, the distance-attribute is ignored! </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="pitch" type="valuesource_single" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation> Pitch (supporting var=). Note: If this element is defined, the distance-attribute is ignored! </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="yaw" type="valuesource_single" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation> Yaw (supporting var=). Note: If this element is defined, the distance-attribute is ignored! </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:all>
                  <xs:attributeGroup ref="angles_beginend" />
                  <xs:attribute name="time" type="xs:double" />
                </xs:complexType>
              </xs:element>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
            </xs:all>
            <xs:attribute name="reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> The object to follow. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="interpolation_options" />
            <xs:attributeGroup ref="angles" />
            <xs:attribute name="orient_to" type="orientation" />
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

        <xs:element name="camera_lookat">
          <xs:annotation>
            <xs:documentation> This camera simply looks at a target object, from the position of a second reference object. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="begin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="pitch" type="xs:float" />
                  <xs:attribute name="yaw" type="xs:float" />
                  <xs:attribute name="fillspace" type="xs:float">
                    <xs:annotation>
                      <xs:documentation> Percentage of the screen to fill with the target. </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="distance" type="valuesource" />
                </xs:complexType>
              </xs:element>
              <xs:element name="end" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="pitch" type="xs:float" />
                  <xs:attribute name="yaw" type="xs:float" />
                  <xs:attribute name="fillspace" type="xs:float">
                    <xs:annotation>
                      <xs:documentation> Percentage of the screen to fill with the target. </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="distance" type="valuesource" />
                  <xs:attribute name="time" type="xs:double" />
                </xs:complexType>
              </xs:element>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
            </xs:all>
            <xs:attribute name="lookat_reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Reference object to look at. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="position_reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Reference object near which the camera is placed. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="interpolation_options" />
            <xs:attributeGroup ref="angles" />
            <xs:attribute name="orient_to" type="orientation" />
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

        <xs:element name="camera_orbit">
          <xs:annotation>
            <xs:documentation> This camera orbits around a target object, pointing toward the object the entire time. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="distance" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="elevation" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="begin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="distance" type="valuesource_single" minOccurs="0" maxOccurs="1" />
                    <xs:element name="elevation" type="valuesource_single" minOccurs="0" maxOccurs="1" />
                  </xs:all>
                  <xs:attribute name="angle" type="floatorparam" />
                  <xs:attribute name="distance" type="valuesource" />
                  <xs:attribute name="elevation" type="valuesource" />
                </xs:complexType>
              </xs:element>
              <xs:element name="end" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="distance" type="valuesource_single" minOccurs="0" maxOccurs="1" />
                    <xs:element name="elevation" type="valuesource_single" minOccurs="0" maxOccurs="1" />
                  </xs:all>
                  <xs:attribute name="angle" type="floatorparam" />
                  <xs:attribute name="distance" type="valuesource" />
                  <xs:attribute name="elevation" type="valuesource" />
                  <xs:attribute name="time" type="xs:double" />
                </xs:complexType>
              </xs:element>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
            </xs:all>
            <xs:attribute name="reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Reference object to orbit around. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="x" type="xs:string">
              <xs:annotation>
                <xs:documentation> Additional X offset to the reference object. Can be a parameter (defaults to 0) </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="y" type="xs:string">
              <xs:annotation>
                <xs:documentation> Additional Y offset to the reference object. Can be a parameter (defaults to 0) </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="z" type="xs:string">
              <xs:annotation>
                <xs:documentation> Additional Z offset to the reference object. Can be a parameter (defaults to 0) </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="interpolation_options" />
            <xs:attribute name="startangle" type="xs:float">
              <xs:annotation>
                <xs:documentation> Start angle, default is 0 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="stopangle" type="xs:float">
              <xs:annotation>
                <xs:documentation> End angle, default is 360 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="time" type="xs:double" />
            <xs:attribute name="distance" type="valuesource">
              <xs:annotation>
                <xs:documentation> Distance away from the object to place the camera. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="elevation" type="valuesource">
              <xs:annotation>
                <xs:documentation> Distance above or below the object where the camera should be placed. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="orient_to" type="orientation" />
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

        <xs:element name="camera_panover">
          <xs:annotation>
            <xs:documentation> The target object slides smoothly across the camera's field of view. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="begin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="distance" type="xs:float" />
                  <xs:attribute name="elevation" type="xs:float" />
                  <xs:attribute name="offset" type="xs:float" />
                </xs:complexType>
              </xs:element>
              <xs:element name="end" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="distance" type="xs:float" />
                  <xs:attribute name="elevation" type="xs:float" />
                  <xs:attribute name="offset" type="xs:float" />
                  <xs:attribute name="time" type="xs:double" />
                </xs:complexType>
              </xs:element>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
            </xs:all>
            <xs:attribute name="reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Reference object to display. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="interpolation_options" />
            <xs:attribute name="distance" type="xs:float">
              <xs:annotation>
                <xs:documentation> Distance away from the object where the camera should be placed. Note: When using pandirection forward/backward this shifts the object on the other axis (horizontal/vertical) compared to what 'elevation' does, the distance is controlled by the movement as defined by panstart/end. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="elevation" type="valuesource">
              <xs:annotation>
                <xs:documentation> Offset of the object in the view; shifts the object vertically or horizontally depending on the pan mode. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="showing" type="showside" />
            <xs:attribute name="pan_direction" type="pandirection" />
            <xs:attribute name="time" type="xs:double" />
            <xs:attribute name="panstart" type="xs:float">
              <xs:annotation>
                <xs:documentation> Distance away from the object to place the camera at the beginning of the pan (positive value ). </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="panend" type="xs:float">
              <xs:annotation>
                <xs:documentation> Distance away from the object to place the camera at the end of the pan (controls how long the object must travel after leaving the view). </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="orient_to" type="orientation" />
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

        <xs:element name="camera_panover_param">
          <xs:annotation>
            <xs:documentation> The target object slides smoothly across the camera's field of view. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="begin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="distance" type="xs:float" />
                  <xs:attribute name="elevation" type="xs:float" />
                  <xs:attribute name="offset" type="xs:float" />
                </xs:complexType>
              </xs:element>
              <xs:element name="end" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="distance" type="xs:float" />
                  <xs:attribute name="elevation" type="xs:float" />
                  <xs:attribute name="offset" type="xs:float" />
                  <xs:attribute name="time" type="xs:double" />
                </xs:complexType>
              </xs:element>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />

              <xs:element name="distance" type="valuesource_single" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> distance (supporting var=). </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="elevation" type="valuesource_single" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> Elevation (supporting var=). </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="panstart" type="valuesource_single" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> pan starting distance (supporting var=). </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="panend" type="valuesource_single" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> pan end distance (supporting var=). </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="offset" type="valuesource_single" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> Offset (supporting var=). </xs:documentation>
                </xs:annotation>
              </xs:element>

            </xs:all>
            <xs:attribute name="reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Reference object to display. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="interpolation_options" />
            <xs:attribute name="showing" type="showside" />
            <xs:attribute name="pan_direction" type="pandirection" />
            <xs:attribute name="time" type="xs:double" />
            <xs:attribute name="orient_to" type="orientation" />
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>
        <xs:element name="camera_panto">
          <xs:annotation>
            <xs:documentation> The camera switches from displaying one target to a second. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="position" type="valuesource_posrot" minOccurs="0" maxOccurs="1" />
              <xs:element name="begin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="x" type="xs:float" />
                  <xs:attribute name="y" type="xs:float" />
                  <xs:attribute name="z" type="xs:float" />
                </xs:complexType>
              </xs:element>
              <xs:element name="end" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="x" type="xs:float" />
                  <xs:attribute name="y" type="xs:float" />
                  <xs:attribute name="z" type="xs:float" />
                  <xs:attribute name="time" type="xs:double" />
                </xs:complexType>
              </xs:element>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
            </xs:all>
            <xs:attribute name="reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Object to display initially. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="panto_reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Object to pan towards. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="interpolation_options" />
            <xs:attribute name="time_firstobject" type="xs:double" use="required">
              <xs:annotation>
                <xs:documentation> Time to spend focused on the first object, in ms. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="time_pan" type="xs:double" use="required">
              <xs:annotation>
                <xs:documentation> Time to spend moving from one object to the other, in ms. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="x" type="xs:float" />
            <xs:attribute name="y" type="xs:float" />
            <xs:attribute name="z" type="xs:float" />
            <xs:attribute name="orient_to" type="orientation" />
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

        <xs:element name="camera_detail">
          <xs:annotation>
            <xs:documentation> This camera type focuses on a detail element of an object, as identified by a connection name. For example this might be the connection for a turret or drone launcher or other surface element. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="begin" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="distance" type="valuesource" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="end" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="distance" type="valuesource" use="required" />
                  <xs:attribute name="time" type="xs:double" />
                </xs:complexType>
              </xs:element>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
            </xs:all>
            <xs:attribute name="reference" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Reference object to point the camera towards. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="detail" type="objectref" use="required">
              <xs:annotation>
                <xs:documentation> Name of the connection to show. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="interpolation_options" />
            <xs:attribute name="distance" type="valuesource">
              <xs:annotation>
                <xs:documentation> Distance away from the connection to place the camera (can be animated). </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

        <xs:element name="camera_animated">
          <xs:annotation>
            <xs:documentation> This camera uses a camera animation defined in an anchor macro to determine it's movement. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="roll" type="valuesource_single" minOccurs="0" maxOccurs="1" />
              <xs:element name="zoom" type="valuesource_single" minOccurs="0" maxOccurs="1" />
            </xs:all>
            <xs:attribute name="reference" type="objectref" use="required" />
            <xs:attributeGroup ref="interpolation_options" />
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="light">
          <xs:annotation>
            <xs:documentation> A static light defined by position. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="position" type="valuesource_posrot" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> The position of the light. </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:all>
            <xs:attribute name="name" use="required" />
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="environment" use="required">
      <xs:annotation>
        <xs:documentation> ID of the environment to use for this shot. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="failsafe" type="xs:double">
      <xs:annotation>
        <xs:documentation> Failsafe duration in milliseconds </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="soundcamera" type="soundcamera" />
    <xs:attribute name="comment" type="comment" />
  </xs:complexType>

  <!-- ===== Root elements ==== -->

  <xs:element name="cutscene">
    <xs:annotation>
      <xs:documentation> Root element of a cutscene </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="director">
          <xs:annotation>
            <xs:documentation> Cutscene header, define cutscene name and parameters </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="params" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> A list of parameters used in the cutscene </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation> A reference object or float number used in the cutscene. </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="name" use="required">
                          <xs:annotation>
                            <xs:documentation> The name of the parameter. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="object" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation> bool: whether this parameter is a reference object </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="number" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation> bool: whether this parameter is a floating point number </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="default" type="xs:double">
                          <xs:annotation>
                            <xs:documentation> default value, only supported when number is true </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="comment" type="comment" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="comment" type="comment" />
                </xs:complexType>
                <xs:key name="param_name">
                  <xs:selector xpath="param" />
                  <xs:field xpath="@name" />
                </xs:key>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="key" use="required">
              <xs:annotation>
                <xs:documentation> Unique identifier for the cutscene, used to locate the cutscene. </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>
        <xs:element name="environments" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation> An environment is simply a place in the universe, such as a zone, or a room/cockpit. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="environment_implicit">
                <xs:annotation>
                  <xs:documentation> An implicit environment displays objects and scenery from a "real" location that is actively simulated by the game engine. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="name" type="identifier" use="required">
                    <xs:annotation>
                      <xs:documentation> Identifies the environment being defined. ID is local to the current cutscene. Mostly useful when using special environments or environments selected via the Mission Director. </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="zone" use="required">
                    <xs:annotation>
                      <xs:documentation> Refers to the name of a specially named zone (e.g. for plot cutscenes). Can also be set to "@auto:referenceobject" where referenceobject specifies a valid reference object used by the cutscene; this will automatically select the zone where the object is located when the scene begins playing. </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="comment" type="comment" />
                </xs:complexType>
              </xs:element>
              <xs:element name="environment_plot">
                <xs:annotation>
                  <xs:documentation> An plot environment displays objects and scenery defined by a cutscene anchor which is generated inside a specific zone. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:all>
                    <xs:element name="teleport" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation> A location defined by teleport coordinates, giving the zone name and offset. </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="offset" type="posrot" minOccurs="0" maxOccurs="1">
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="zone" use="required">
                          <xs:annotation>
                            <xs:documentation> The zone macro name. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="comment" type="comment" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="anchor" minOccurs="0" maxOccurs="1">
                      <xs:annotation>
                        <xs:documentation> A macro containing object, scenery and camera definitions. </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="name" use="required">
                          <xs:annotation>
                            <xs:documentation> The anchor macro name. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="comment" type="comment" />
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="name" type="identifier" use="required">
                    <xs:annotation>
                      <xs:documentation> Identifies the environment being defined. ID is local to the current cutscene. Mostly useful when using special environments or environments selected via the Mission Director. </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="comment" type="comment" />
                </xs:complexType>
              </xs:element>
              <xs:element name="object_group">
                <xs:annotation>
                  <xs:documentation> Collection of reference objects which can be referred to as a single entity. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="reference">
                      <xs:complexType>
                        <xs:attribute name="object" use="required">
                          <xs:annotation>
                            <xs:documentation> Name of an existing, defined reference object to add as a member to this object group. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="weight" type="xs:integer">
                          <xs:annotation>
                            <xs:documentation> Optional. Specifies the weight of a single member of the group. The sum of each weight in the group must add up to 100. If some members do not have weights, the remaining weight value (from 100) is distributed evenly among the remaining members. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="comment" type="comment" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" use="required">
                    <xs:annotation>
                      <xs:documentation> Uniquely identifies this object group. Must not be the same name as any individual reference objects or other groups, but can be anything else. </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="comment" type="comment" />
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>
        <xs:element name="presentation">
          <xs:annotation>
            <xs:documentation> The main body defining the sequence of camera shots </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="actions" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> The actions node is a parent node for all timed actions that occur during the course of cutscene playback, sequences and shots. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="sequence">
                      <xs:annotation>
                        <xs:documentation> A standard sequence is a series of shots and transitions between shots. </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="shot" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation> A shot is the basic element of a cutscene. It is the placement of a camera within an environment. </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent>
                                <xs:extension base="shot">
                                  <xs:attribute name="name" type="identifier" use="required">
                                    <xs:annotation>
                                      <xs:documentation> Identifies the shot so it can be referred to directly. Name must be unique within the cutscene, but different cutscenes can have shots with the same name. </xs:documentation>
                                    </xs:annotation>
                                  </xs:attribute>
                                  <xs:attribute name="duration" use="required" type="durationtype">
                                    <xs:annotation>
                                      <xs:documentation> Standard sequences only. Controls the duration of the shot in milliseconds (supports 'param:xxx' and, in case of videos 'auto'); the next shot will be played once this duration expires. Instead of specifying a duration, it is also possible to play the shot until an event is triggered via 'onevent:xxx'. </xs:documentation>
                                    </xs:annotation>
                                  </xs:attribute>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="identifier" use="required">
                          <xs:annotation>
                            <xs:documentation> Identifies the shot sequence so it can be referred to directly. Name must be unique within the cutscene, but different cutscenes can have sequences with the same name. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="start">
                          <xs:annotation>
                            <xs:documentation> Timing value that specifies when the sequence will start playing. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="endevent">
                          <xs:annotation>
                            <xs:documentation> onevent:xxx Signal that specifies when the sequence will stop playing. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="comment" type="comment" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dynamicshots">
                      <xs:annotation>
                        <xs:documentation> A dynamic shot sequence is a series of shots which are selected by events triggered from MD or other controlling code. </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="shot" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation> A shot is the basic element of a cutscene. It is the placement of a camera within an environment. </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent>
                                <xs:extension base="shot">
                                  <xs:attribute name="name" type="identifier" use="required">
                                    <xs:annotation>
                                      <xs:documentation> Identifies the shot so it can be referred to directly. Name must be unique within the cutscene, but different cutscenes can have shots with the same name. </xs:documentation>
                                    </xs:annotation>
                                  </xs:attribute>
                                  <xs:attribute name="trigger" use="required">
                                    <xs:annotation>
                                      <xs:documentation> Dynamic sequences only. Controls what event will cause the shot to stop playing and move on to the next shot. </xs:documentation>
                                    </xs:annotation>
                                  </xs:attribute>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="identifier" use="required">
                          <xs:annotation>
                            <xs:documentation> Identifies the shot sequence so it can be referred to directly. Name must be unique within the cutscene, but different cutscenes can have sequences with the same name. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="endevent">
                          <xs:annotation>
                            <xs:documentation> Name of an event which will cause the sequence to stop playing. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="comment" type="comment" />
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute name="comment" type="comment" />
                </xs:complexType>
              </xs:element>
              <xs:element name="timings" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> The timing node specifies an individual timing value for use in the cutscene's timing computations. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="timing">
                      <xs:complexType>
                        <xs:attribute name="name" type="identifier" use="required">
                          <xs:annotation>
                            <xs:documentation> Name of the timing; must be unique within the cutscene. Used to refer to the timing elsewhere. Once a timing node is defined, its name can be used in any timing field. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="base" use="required">
                          <xs:annotation>
                            <xs:documentation> Specifies the base value for the timing node. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="offset_add">
                          <xs:annotation>
                            <xs:documentation> Optional. Specifies a value to add to the base value to yield the final effective value of the node. offset_add and offset_subtract are mutually exclusive. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="offset_subtract">
                          <xs:annotation>
                            <xs:documentation> Optional. Specifies a value to subtract from the base value to yield the final effective value of the node. offset_add and offset_subtract are mutually exclusive. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="comment" type="comment" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="comment" type="comment" />
                </xs:complexType>
              </xs:element>
              <xs:element name="signals" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> Signals are used to inform the Mission Director or other engine code about when a cutscene event occurs, such as the ending of a shot. When a specified time or event occurs, the signal is fired. This is useful for linking the timings used in a cutscene with the coordination logic of a Mission Director script. The signals node is for organizational purposes only and has no attributes. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="signal">
                      <xs:annotation>
                        <xs:documentation> A signal occurs at a specific time during cutscene playback, and triggers a cutscene signal to the Mission Director or other engine code. </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="name" type="identifier" use="required">
                          <xs:annotation>
                            <xs:documentation> Name of the signal; can be anything, does not need to be unique. This name is passed to the Mission Director or other control code when the signal fires. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="time" use="required">
                          <xs:annotation>
                            <xs:documentation> Controls when the signal is fired. </xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="comment" type="comment" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="comment" type="comment" />
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="minruntime" type="xs:double">
              <xs:annotation>
                <xs:documentation> Minimum run time in milliseconds, default is 20 </xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="comment" type="comment" />
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
    <xs:key name="unique_identifiers">
      <xs:selector xpath="environments/environment_implicit | environments/environment_plot | presentation/actions/* | presentation/actions/*/shot | presentation/timings/timing | presentation/signals/signal" />
      <xs:field xpath="@name" />
    </xs:key>
  </xs:element>

</xs:schema>