xsd/gamestartsdiff.xsd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE schema [
  <!ENTITY ncname "\i\c*">
  <!ENTITY qname  "(&ncname;:)?&ncname;">
  <!ENTITY aname  "@&qname;">
  <!ENTITY pos    "\[\d+\]">
  <!ENTITY attr   "\[&aname;='(.)*'\]|\[&aname;=&quot;(.)*&quot;\]">
  <!ENTITY valueq "\[(&qname;|\.)=&quot;(.)*&quot;\]">
  <!ENTITY value  "\[(&qname;|\.)='(.)*'\]|&valueq;">
  <!ENTITY cond   "&attr;|&value;|&pos;">
  <!ENTITY step   "(&qname;|\*)(&cond;)*">
  <!ENTITY arg    "&qname;">
  <!ENTITY fn     "(not\(&arg;\)|boolean\(&arg;\)|true\(\)|false\(\)|name\(\)|root\((&arg;)?\)|position\(\)|last\(\))">
  <!ENTITY func   "\[&fn;\]">
  <!ENTITY piq    "processing-instruction\((&quot;&ncname;&quot;)\)">
  <!ENTITY pi     "processing-instruction\(('&ncname;')?\)|&piq;">
  <!ENTITY id     "id\(('&ncname;')?\)|id\((&quot;&ncname;&quot;)?\)">
  <!ENTITY com    "comment\(\)">
  <!ENTITY text   "text\(\)">
  <!ENTITY nspa   "namespace::&ncname;">
  <!ENTITY cnodes "(&text;(&pos;)?)|(&com;(&pos;)?)|((&pi;)(&pos;)?)">
  <!ENTITY child  "(&cnodes;|(&step;(&func;)?))">
  <!ENTITY last   "(&child;|&aname;|&nspa;)">
  <!ENTITY path   "(/|//)?((&id;)(((/|//)&step;)*((/|//)&last;))?|(&step;(/|//))*(&last;))">
  <!ENTITY patha  "(/|//)?((&id;)(((/|//)&step;)*((/|//)&child;))?|(&step;(/|//))*(&child;))">
  <!ENTITY pathc  "(&patha;|not\(&patha;\)|&fn;)">
]>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:include schemaLocation="gamestarts.xsd" />
  
  <xs:simpleType name="xpath">
    <xs:restriction base="xs:string">
      <xs:pattern value="&path;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xpath-add">
    <xs:restriction base="xs:string">
      <xs:pattern value="&patha;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xpath-cond">
    <xs:restriction base="xs:string">
      <xs:pattern value="&pathc;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pos">
    <xs:restriction base="xs:string">
      <xs:enumeration value="before"/>
      <xs:enumeration value="after"/>
      <xs:enumeration value="prepend"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="type">
    <xs:restriction base="xs:string">
      <xs:pattern value="&aname;|&nspa;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="add">
    <xs:complexContent mixed="true">
      <xs:restriction base="xs:anyType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="selectrandom" />
            <xs:group ref="equipmentmods" />
            <xs:group ref="createship" />
            <xs:group ref="createnpc" />
            <xs:group ref="createmodule" />
            <xs:group ref="createstation" />
            <xs:group ref="createobject" />
            <xs:group ref="people" />
            <xs:group ref="loadoutelements" />
            <xs:group ref="constructionsequenceelements" />
            <xs:group ref="voicedata" />
            <xs:group ref="commonconditions_event" />
            <xs:group ref="commonconditions_nonevent" />
            <xs:group ref="commonactions" />
            <xs:element name="group" type="gamestartgroup" />
            <xs:element name="source" type="gamestartextensionsource" />
            <xs:element name="item" type="gamestartinfoitem" />
            <xs:element name="achievement" type="gamestartunlockachievement" />
            <xs:element name="userdata" type="gamestartunlockuserdata" />
            <xs:element name="text" type="gamestartloadingscreentext" />
            <xs:element name="info" type="gamestartloadingscreentext" />
            <xs:element name="position" type="position" />
            <xs:element name="rotation" type="rotation" />
            <xs:element name="player" type="gamestartplayerlocation" />
            <xs:element name="interior" type="gamestartinterior" />
            <xs:element name="ware" type="gamestartware" />
            <xs:element name="loadout" type="gamestartloadout" />
            <xs:element name="modification" type="gamestartshipmod" />
            <xs:element name="cargo" type="gamestartwares" />
            <xs:element name="pilot" type="gamestartperson" />
            <xs:element name="entry" type="gamestartencyclopediaentry" />
            <xs:element name="faction" type="gamestartknownfaction" />
            <xs:element name="space" type="gamestartknownspace" />
            <xs:element name="object" type="gamestartknownobject" />
            <xs:element name="location" type="gamestartpropertylocation" />
            <xs:element name="construction" type="gamestartconstructionsequence" />
            <xs:element name="manager" type="gamestartperson" />
            <xs:element name="station" type="gamestartpropertystation" />
            <xs:element name="ship" type="gamestartpropertyship" />
            <xs:element name="inventory" type="gamestartwares" />
            <xs:element name="blueprints" type="gamestartblueprints" />
            <xs:element name="build" type="gamestartbuild" />
            <xs:element name="research" type="gamestartresearch" />
            <xs:element name="encyclopedia" type="gamestartencyclopedia" />
            <xs:element name="timeline" type="gamestarttimeline" />
            <xs:element name="knownfactions" type="gamestartknownfactions" />
            <xs:element name="knownspace" type="gamestartknownspaces" />
            <xs:element name="knownobjects" type="gamestartknownobjects" />
            <xs:element name="property" type="gamestartproperty" />
            <xs:element name="theme" type="gamestarttheme" />
            <xs:element name="density" type="gamestartuniverseregionwares" />
            <xs:element name="time" type="gamestartuniverseregionwares" />
            <xs:element name="quotas" type="gamestartuniversequotas" />
            <xs:element name="highways" type="gamestartuniversehighways" />
            <xs:element name="regions" type="gamestartuniverseregions" />
            <xs:element name="hiddenobjects" type="gamestartuniversehiddenobjects" />
            <xs:element name="jobs" type="gamestartuniversejobs" />
            <xs:element name="god" type="gamestartuniversegod" />
            <xs:element name="masstraffic" type="gamestartuniversemasstraffic" />
            <xs:element name="factions" type="gamestartuniversefactions" />
            <xs:element name="accesslicences" type="gamestartuniverseaccesslicences" />
            <xs:element name="stories" type="gamestartuniversestorystates" />
            <xs:element name="unlock" type="gamestartunlock" />
            <xs:element name="option" type="gamestartoption" />
            <xs:element name="dependencies" type="gamestartdependencies" />
            <xs:element name="objects" type="gamestartknownbudgetobjectsparams" />
            <xs:element name="money" type="gamestartbudgettype" />
            <xs:element name="parameters" type="gamestartknownbudgetparams" />
            <xs:element name="extension" type="gamestartextension" />
            <xs:element name="cutscene" type="gamestartcutscene" />
            <xs:element name="intro" type="gamestartintro" />
            <xs:element name="type" type="gamestarttype" />
            <xs:element name="loadingscreen" type="gamestartloadingscreen" />
            <xs:element name="universe" type="gamestartuniverse" />
            <xs:element name="options" type="gamestartoptions" />
            <xs:element name="budget" type="gamestartbudget" />
            <xs:element name="custom" type="gamestartcustom" />
            <xs:element name="scenario" type="gamestartscenario" />
            <xs:element name="groups" type="gamestartgroups" />
            <xs:element name="gamestart" type="gamestart" />
            <xs:element name="gamestarts" type="gamestarts" />
            <xs:element name="dependency" />
            <xs:element name="page" />
            <xs:element name="skills" />
            <xs:element name="skill" />
            <xs:element name="equipment" />
            <xs:element name="weapon" />
            <xs:element name="shield" />
            <xs:element name="engine" />
            <xs:element name="mods" />
            <xs:element name="component" />
            <xs:element name="yield" />
            <xs:element name="replenish" />
            <xs:element name="quota" />
            <xs:element name="police" />
            <xs:element name="relations" />
            <xs:element name="relation" />
            <xs:element name="accesslicence" />
            <xs:element name="story" />
            <xs:element name="zone" />
            <xs:element name="sector" />
            <xs:element name="cluster" />
            <xs:element name="class" />
            <xs:element name="states" />
            <xs:element name="state" />
            <xs:element name="levels" />
            <xs:element name="level" />
            <xs:element name="known" />
            <xs:element name="scores" />
            <xs:element name="score" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="sel" type="xpath-add" use="required"/>
        <xs:attribute name="pos" type="pos"/>
        <xs:attribute name="type" type="type"/>
        <xs:attribute name="if" type="xpath-cond"/>
        <xs:attribute name="silent" type="xs:boolean"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="replace">
    <xs:complexContent mixed="true">
      <xs:restriction base="xs:anyType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="selectrandom" />
            <xs:group ref="equipmentmods" />
            <xs:group ref="createship" />
            <xs:group ref="createnpc" />
            <xs:group ref="createmodule" />
            <xs:group ref="createstation" />
            <xs:group ref="createobject" />
            <xs:group ref="people" />
            <xs:group ref="loadoutelements" />
            <xs:group ref="constructionsequenceelements" />
            <xs:group ref="voicedata" />
            <xs:group ref="commonconditions_event" />
            <xs:group ref="commonconditions_nonevent" />
            <xs:group ref="commonactions" />
            <xs:element name="group" type="gamestartgroup" />
            <xs:element name="source" type="gamestartextensionsource" />
            <xs:element name="item" type="gamestartinfoitem" />
            <xs:element name="achievement" type="gamestartunlockachievement" />
            <xs:element name="userdata" type="gamestartunlockuserdata" />
            <xs:element name="text" type="gamestartloadingscreentext" />
            <xs:element name="info" type="gamestartloadingscreentext" />
            <xs:element name="position" type="position" />
            <xs:element name="rotation" type="rotation" />
            <xs:element name="player" type="gamestartplayerlocation" />
            <xs:element name="interior" type="gamestartinterior" />
            <xs:element name="ware" type="gamestartware" />
            <xs:element name="loadout" type="gamestartloadout" />
            <xs:element name="modification" type="gamestartshipmod" />
            <xs:element name="cargo" type="gamestartwares" />
            <xs:element name="pilot" type="gamestartperson" />
            <xs:element name="entry" type="gamestartencyclopediaentry" />
            <xs:element name="faction" type="gamestartknownfaction" />
            <xs:element name="space" type="gamestartknownspace" />
            <xs:element name="object" type="gamestartknownobject" />
            <xs:element name="location" type="gamestartpropertylocation" />
            <xs:element name="construction" type="gamestartconstructionsequence" />
            <xs:element name="manager" type="gamestartperson" />
            <xs:element name="station" type="gamestartpropertystation" />
            <xs:element name="ship" type="gamestartpropertyship" />
            <xs:element name="inventory" type="gamestartwares" />
            <xs:element name="blueprints" type="gamestartblueprints" />
            <xs:element name="build" type="gamestartbuild" />
            <xs:element name="research" type="gamestartresearch" />
            <xs:element name="encyclopedia" type="gamestartencyclopedia" />
            <xs:element name="timeline" type="gamestarttimeline" />
            <xs:element name="knownfactions" type="gamestartknownfactions" />
            <xs:element name="knownspace" type="gamestartknownspaces" />
            <xs:element name="knownobjects" type="gamestartknownobjects" />
            <xs:element name="property" type="gamestartproperty" />
            <xs:element name="theme" type="gamestarttheme" />
            <xs:element name="density" type="gamestartuniverseregionwares" />
            <xs:element name="time" type="gamestartuniverseregionwares" />
            <xs:element name="quotas" type="gamestartuniversequotas" />
            <xs:element name="highways" type="gamestartuniversehighways" />
            <xs:element name="regions" type="gamestartuniverseregions" />
            <xs:element name="hiddenobjects" type="gamestartuniversehiddenobjects" />
            <xs:element name="jobs" type="gamestartuniversejobs" />
            <xs:element name="god" type="gamestartuniversegod" />
            <xs:element name="masstraffic" type="gamestartuniversemasstraffic" />
            <xs:element name="factions" type="gamestartuniversefactions" />
            <xs:element name="accesslicences" type="gamestartuniverseaccesslicences" />
            <xs:element name="stories" type="gamestartuniversestorystates" />
            <xs:element name="unlock" type="gamestartunlock" />
            <xs:element name="option" type="gamestartoption" />
            <xs:element name="dependencies" type="gamestartdependencies" />
            <xs:element name="objects" type="gamestartknownbudgetobjectsparams" />
            <xs:element name="money" type="gamestartbudgettype" />
            <xs:element name="parameters" type="gamestartknownbudgetparams" />
            <xs:element name="extension" type="gamestartextension" />
            <xs:element name="cutscene" type="gamestartcutscene" />
            <xs:element name="intro" type="gamestartintro" />
            <xs:element name="type" type="gamestarttype" />
            <xs:element name="loadingscreen" type="gamestartloadingscreen" />
            <xs:element name="universe" type="gamestartuniverse" />
            <xs:element name="options" type="gamestartoptions" />
            <xs:element name="budget" type="gamestartbudget" />
            <xs:element name="custom" type="gamestartcustom" />
            <xs:element name="scenario" type="gamestartscenario" />
            <xs:element name="groups" type="gamestartgroups" />
            <xs:element name="gamestart" type="gamestart" />
            <xs:element name="gamestarts" type="gamestarts" />
            <xs:element name="dependency" />
            <xs:element name="page" />
            <xs:element name="skills" />
            <xs:element name="skill" />
            <xs:element name="equipment" />
            <xs:element name="weapon" />
            <xs:element name="shield" />
            <xs:element name="engine" />
            <xs:element name="mods" />
            <xs:element name="component" />
            <xs:element name="yield" />
            <xs:element name="replenish" />
            <xs:element name="quota" />
            <xs:element name="police" />
            <xs:element name="relations" />
            <xs:element name="relation" />
            <xs:element name="accesslicence" />
            <xs:element name="story" />
            <xs:element name="zone" />
            <xs:element name="sector" />
            <xs:element name="cluster" />
            <xs:element name="class" />
            <xs:element name="states" />
            <xs:element name="state" />
            <xs:element name="levels" />
            <xs:element name="level" />
            <xs:element name="known" />
            <xs:element name="scores" />
            <xs:element name="score" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="sel" type="xpath" use="required"/>
        <xs:attribute name="if" type="xpath-cond"/>
        <xs:attribute name="silent" type="xs:boolean"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="remove">
    <xs:attribute name="sel" type="xpath" use="required"/>
    <xs:attribute name="if" type="xpath-cond"/>
    <xs:attribute name="silent" type="xs:boolean"/>
  </xs:complexType>

  <!-- ===== Root element ==== -->

  <xs:element name="diff">
    <xs:annotation>
      <xs:documentation>
        XML Patch data
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element name="add" type="add">
            <xs:annotation>
              <xs:documentation>
                Add content
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="replace" type="replace">
            <xs:annotation>
              <xs:documentation>
                Replace content
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="remove" type="remove">
            <xs:annotation>
              <xs:documentation>
                Remove content
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
