xsd/mddiff.xsd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE schema [
  <!ENTITY ncname "\i\c*">
  <!ENTITY qname  "(&ncname;:)?&ncname;">
  <!ENTITY aname  "@&qname;">
  <!ENTITY pos    "\[\d+\]">
  <!ENTITY attr   "\[&aname;='(.)*'\]|\[&aname;=&quot;(.)*&quot;\]">
  <!ENTITY valueq "\[(&qname;|\.)=&quot;(.)*&quot;\]">
  <!ENTITY value  "\[(&qname;|\.)='(.)*'\]|&valueq;">
  <!ENTITY cond   "&attr;|&value;|&pos;">
  <!ENTITY step   "(&qname;|\*)(&cond;)*">
  <!ENTITY arg    "&qname;">
  <!ENTITY fn     "(not\(&arg;\)|boolean\(&arg;\)|true\(\)|false\(\)|name\(\)|root\((&arg;)?\)|position\(\)|last\(\))">
  <!ENTITY func   "\[&fn;\]">
  <!ENTITY piq    "processing-instruction\((&quot;&ncname;&quot;)\)">
  <!ENTITY pi     "processing-instruction\(('&ncname;')?\)|&piq;">
  <!ENTITY id     "id\(('&ncname;')?\)|id\((&quot;&ncname;&quot;)?\)">
  <!ENTITY com    "comment\(\)">
  <!ENTITY text   "text\(\)">
  <!ENTITY nspa   "namespace::&ncname;">
  <!ENTITY cnodes "(&text;(&pos;)?)|(&com;(&pos;)?)|((&pi;)(&pos;)?)">
  <!ENTITY child  "(&cnodes;|(&step;(&func;)?))">
  <!ENTITY last   "(&child;|&aname;|&nspa;)">
  <!ENTITY path   "(/|//)?((&id;)(((/|//)&step;)*((/|//)&last;))?|(&step;(/|//))*(&last;))">
  <!ENTITY patha  "(/|//)?((&id;)(((/|//)&step;)*((/|//)&child;))?|(&step;(/|//))*(&child;))">
  <!ENTITY pathc  "(&patha;|not\(&patha;\)|&fn;)">
]>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:include schemaLocation="md.xsd" />
  
  <xs:simpleType name="xpath">
    <xs:restriction base="xs:string">
      <xs:pattern value="&path;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xpath-add">
    <xs:restriction base="xs:string">
      <xs:pattern value="&patha;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="xpath-cond">
    <xs:restriction base="xs:string">
      <xs:pattern value="&pathc;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pos">
    <xs:restriction base="xs:string">
      <xs:enumeration value="before"/>
      <xs:enumeration value="after"/>
      <xs:enumeration value="prepend"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="type">
    <xs:restriction base="xs:string">
      <xs:pattern value="&aname;|&nspa;"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="add">
    <xs:complexContent mixed="true">
      <xs:restriction base="xs:anyType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="selectrandom" />
            <xs:group ref="equipmentmods" />
            <xs:group ref="createship" />
            <xs:group ref="createnpc" />
            <xs:group ref="createmodule" />
            <xs:group ref="createstation" />
            <xs:group ref="createobject" />
            <xs:group ref="people" />
            <xs:group ref="loadoutelements" />
            <xs:group ref="constructionsequenceelements" />
            <xs:group ref="voicedata" />
            <xs:group ref="commonconditions_event" />
            <xs:group ref="commonconditions_nonevent" />
            <xs:group ref="commonactions" />
            <xs:element name="progress" type="objectiveprogress" />
            <xs:element name="objective" type="briefingobjective" />
            <xs:element name="check_all" type="checkall" />
            <xs:element name="check_any" type="checkany" />
            <xs:element name="do_all" type="doall" />
            <xs:element name="do_for_each" type="doforeach" />
            <xs:element name="do_any" type="doany" />
            <xs:element name="do_if" type="doif" />
            <xs:element name="do_elseif" type="doelseif" />
            <xs:element name="do_else" type="doelse" />
            <xs:element name="do_while" type="dowhile" />
            <xs:element name="delay" type="delay" />
            <xs:element name="actions" type="actions" />
            <xs:element name="cues" type="cues" />
            <xs:element name="documentation" type="cuedoc" />
            <xs:element name="cue" type="cue" />
            <xs:element name="library" type="library" />
            <xs:element name="content" />
            <xs:element name="version" />
            <xs:element name="history" />
            <xs:element name="change" />
            <xs:element name="todo" />
            <xs:element name="item" />
            <xs:element name="briefing" />
            <xs:element name="delivery" />
            <xs:element name="wares" />
            <xs:element name="ships" />
            <xs:element name="mission" />
            <xs:element name="event_briefing_started" />
            <xs:element name="event_briefing_cancelled" />
            <xs:element name="event_briefing_submission_selected" />
            <xs:element name="event_briefing_submission_unselected" />
            <xs:element name="event_cue_activated" />
            <xs:element name="event_cue_cancelled" />
            <xs:element name="event_cue_completed" />
            <xs:element name="event_cue_signalled" />
            <xs:element name="event_guidance_disabled" />
            <xs:element name="event_guidance_enabled" />
            <xs:element name="event_mission_aborted" />
            <xs:element name="event_npc_created" />
            <xs:element name="event_offer_accepted" />
            <xs:element name="event_online_offer_outdated" />
            <xs:element name="event_online_offer_requested" />
            <xs:element name="event_platform_actor_created" />
            <xs:element name="event_boarding_triggered" />
            <xs:element name="event_boarding_support_requested" />
            <xs:element name="cue_is_active" />
            <xs:element name="cue_is_cancelled" />
            <xs:element name="cue_is_complete" />
            <xs:element name="cue_is_disabled" />
            <xs:element name="cue_is_waiting" />
            <xs:element name="guidance_is_active" />
            <xs:element name="quit_gameover" />
            <xs:element name="quit_to_desktop" />
            <xs:element name="quit_to_startmenu" />
            <xs:element name="quit_to_game" />
            <xs:element name="quit_to_load_latest_save" />
            <xs:element name="capture_movie_start" />
            <xs:element name="capture_movie_stop" />
            <xs:element name="capture_screen" />
            <xs:element name="benchmark_start" />
            <xs:element name="benchmark_stop" />
            <xs:element name="activate_mission" />
            <xs:element name="cancel_cue" />
            <xs:element name="complete_cue" />
            <xs:element name="create_cue_actor" />
            <xs:element name="create_mission" />
            <xs:element name="accept_offer" />
            <xs:element name="create_offer" />
            <xs:element name="create_mission_thread" />
            <xs:element name="create_mission_thread_offer" />
            <xs:element name="create_platform_actor" />
            <xs:element name="create_presentation_cluster" />
            <xs:element name="create_representative_actor" />
            <xs:element name="create_target_points" />
            <xs:element name="find_mission_offer_location" />
            <xs:element name="force_cue" />
            <xs:element name="include_actions" />
            <xs:element name="pause_mission_timer" />
            <xs:element name="unpause_mission_timer" />
            <xs:element name="pause_objective_timer" />
            <xs:element name="unpause_objective_timer" />
            <xs:element name="run_actions" />
            <xs:element name="param" />
            <xs:element name="populate_platforms" />
            <xs:element name="remove_all_cue_actors" />
            <xs:element name="remove_cue_actor" />
            <xs:element name="remove_mission" />
            <xs:element name="remove_offer" />
            <xs:element name="remove_target_points" />
            <xs:element name="reset_cue" />
            <xs:element name="add_holomap" />
            <xs:element name="remove_holomap" />
            <xs:element name="set_holomap_target" />
            <xs:element name="set_holomap_zoom" />
            <xs:element name="set_holomap_max_zoom" />
            <xs:element name="reset_holomap_max_zoom" />
            <xs:element name="center_holomap_view" />
            <xs:element name="add_holomap_text" />
            <xs:element name="remove_holomap_text" />
            <xs:element name="lock_holomap_position_input" />
            <xs:element name="unlock_holomap_position_input" />
            <xs:element name="lock_holomap_rotation_input" />
            <xs:element name="unlock_holomap_rotation_input" />
            <xs:element name="lock_holomap_zoom_input" />
            <xs:element name="unlock_holomap_zoom_input" />
            <xs:element name="lock_all_holomap_input" />
            <xs:element name="unlock_all_holomap_input" />
            <xs:element name="lock_all_flight_input" />
            <xs:element name="unlock_all_flight_input" />
            <xs:element name="lock_flight_throttle_input" />
            <xs:element name="unlock_flight_throttle_input" />
            <xs:element name="lock_flight_strafe_input" />
            <xs:element name="unlock_flight_strafe_input" />
            <xs:element name="lock_flight_steering_input" />
            <xs:element name="unlock_flight_steering_input" />
            <xs:element name="lock_flight_assist_input" />
            <xs:element name="unlock_flight_assist_input" />
            <xs:element name="lock_primary_shooting_input" />
            <xs:element name="unlock_primary_shooting_input" />
            <xs:element name="lock_secondary_shooting_input" />
            <xs:element name="unlock_secondary_shooting_input" />
            <xs:element name="lock_all_shooting_input" />
            <xs:element name="unlock_all_shooting_input" />
            <xs:element name="lock_getup" />
            <xs:element name="unlock_getup" />
            <xs:element name="lock_all_firstperson_input" />
            <xs:element name="unlock_all_firstperson_input" />
            <xs:element name="lock_firstperson_walk_input" />
            <xs:element name="unlock_firstperson_walk_input" />
            <xs:element name="lock_firstperson_look_input" />
            <xs:element name="unlock_firstperson_look_input" />
            <xs:element name="lock_firstperson_jump_input" />
            <xs:element name="unlock_firstperson_jump_input" />
            <xs:element name="lock_firstperson_crouch_input" />
            <xs:element name="unlock_firstperson_crouch_input" />
            <xs:element name="set_player_target" />
            <xs:element name="clear_player_target" />
            <xs:element name="set_job_active" />
            <xs:element name="set_objective" />
            <xs:element name="set_objective_from_briefing" />
            <xs:element name="set_presentation_cluster_persistence" />
            <xs:element name="update_objective_progress" />
            <xs:element name="update_mission" />
            <xs:element name="update_objective_endtime" />
            <xs:element name="update_offer" />
            <xs:element name="update_mission_thread_offer" />
            <xs:element name="leave_control_position" />
            <xs:element name="dock_player_ship_at" />
            <xs:element name="undock_player_ship" />
            <xs:element name="force_player_speed" />
            <xs:element name="set_player_firstperson_override" />
            <xs:element name="clear_player_firstperson_override" />
            <xs:element name="connect_player_to_scenario_console" />
            <xs:element name="set_active_mission_waypoint_known" />
            <xs:element name="signal_cue" />
            <xs:element name="signal_cue_instantly" />
            <xs:element name="set_visitor_as_mission_object" />
            <xs:element name="clear_visitor_as_mission_object" />
            <xs:element name="add_online_mission_reward_to_inventory" />
            <xs:element name="set_external_view_allowed" />
            <xs:element name="conditions" />
            <xs:element name="force" />
            <xs:element name="patch" />
            <xs:element name="params" />
            <xs:element name="mdscript" />
            <xs:element name="signature" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="sel" type="xpath-add" use="required"/>
        <xs:attribute name="pos" type="pos"/>
        <xs:attribute name="type" type="type"/>
        <xs:attribute name="if" type="xpath-cond"/>
        <xs:attribute name="silent" type="xs:boolean"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="replace">
    <xs:complexContent mixed="true">
      <xs:restriction base="xs:anyType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="selectrandom" />
            <xs:group ref="equipmentmods" />
            <xs:group ref="createship" />
            <xs:group ref="createnpc" />
            <xs:group ref="createmodule" />
            <xs:group ref="createstation" />
            <xs:group ref="createobject" />
            <xs:group ref="people" />
            <xs:group ref="loadoutelements" />
            <xs:group ref="constructionsequenceelements" />
            <xs:group ref="voicedata" />
            <xs:group ref="commonconditions_event" />
            <xs:group ref="commonconditions_nonevent" />
            <xs:group ref="commonactions" />
            <xs:element name="progress" type="objectiveprogress" />
            <xs:element name="objective" type="briefingobjective" />
            <xs:element name="check_all" type="checkall" />
            <xs:element name="check_any" type="checkany" />
            <xs:element name="do_all" type="doall" />
            <xs:element name="do_for_each" type="doforeach" />
            <xs:element name="do_any" type="doany" />
            <xs:element name="do_if" type="doif" />
            <xs:element name="do_elseif" type="doelseif" />
            <xs:element name="do_else" type="doelse" />
            <xs:element name="do_while" type="dowhile" />
            <xs:element name="delay" type="delay" />
            <xs:element name="actions" type="actions" />
            <xs:element name="cues" type="cues" />
            <xs:element name="documentation" type="cuedoc" />
            <xs:element name="cue" type="cue" />
            <xs:element name="library" type="library" />
            <xs:element name="content" />
            <xs:element name="version" />
            <xs:element name="history" />
            <xs:element name="change" />
            <xs:element name="todo" />
            <xs:element name="item" />
            <xs:element name="briefing" />
            <xs:element name="delivery" />
            <xs:element name="wares" />
            <xs:element name="ships" />
            <xs:element name="mission" />
            <xs:element name="event_briefing_started" />
            <xs:element name="event_briefing_cancelled" />
            <xs:element name="event_briefing_submission_selected" />
            <xs:element name="event_briefing_submission_unselected" />
            <xs:element name="event_cue_activated" />
            <xs:element name="event_cue_cancelled" />
            <xs:element name="event_cue_completed" />
            <xs:element name="event_cue_signalled" />
            <xs:element name="event_guidance_disabled" />
            <xs:element name="event_guidance_enabled" />
            <xs:element name="event_mission_aborted" />
            <xs:element name="event_npc_created" />
            <xs:element name="event_offer_accepted" />
            <xs:element name="event_online_offer_outdated" />
            <xs:element name="event_online_offer_requested" />
            <xs:element name="event_platform_actor_created" />
            <xs:element name="event_boarding_triggered" />
            <xs:element name="event_boarding_support_requested" />
            <xs:element name="cue_is_active" />
            <xs:element name="cue_is_cancelled" />
            <xs:element name="cue_is_complete" />
            <xs:element name="cue_is_disabled" />
            <xs:element name="cue_is_waiting" />
            <xs:element name="guidance_is_active" />
            <xs:element name="quit_gameover" />
            <xs:element name="quit_to_desktop" />
            <xs:element name="quit_to_startmenu" />
            <xs:element name="quit_to_game" />
            <xs:element name="quit_to_load_latest_save" />
            <xs:element name="capture_movie_start" />
            <xs:element name="capture_movie_stop" />
            <xs:element name="capture_screen" />
            <xs:element name="benchmark_start" />
            <xs:element name="benchmark_stop" />
            <xs:element name="activate_mission" />
            <xs:element name="cancel_cue" />
            <xs:element name="complete_cue" />
            <xs:element name="create_cue_actor" />
            <xs:element name="create_mission" />
            <xs:element name="accept_offer" />
            <xs:element name="create_offer" />
            <xs:element name="create_mission_thread" />
            <xs:element name="create_mission_thread_offer" />
            <xs:element name="create_platform_actor" />
            <xs:element name="create_presentation_cluster" />
            <xs:element name="create_representative_actor" />
            <xs:element name="create_target_points" />
            <xs:element name="find_mission_offer_location" />
            <xs:element name="force_cue" />
            <xs:element name="include_actions" />
            <xs:element name="pause_mission_timer" />
            <xs:element name="unpause_mission_timer" />
            <xs:element name="pause_objective_timer" />
            <xs:element name="unpause_objective_timer" />
            <xs:element name="run_actions" />
            <xs:element name="param" />
            <xs:element name="populate_platforms" />
            <xs:element name="remove_all_cue_actors" />
            <xs:element name="remove_cue_actor" />
            <xs:element name="remove_mission" />
            <xs:element name="remove_offer" />
            <xs:element name="remove_target_points" />
            <xs:element name="reset_cue" />
            <xs:element name="add_holomap" />
            <xs:element name="remove_holomap" />
            <xs:element name="set_holomap_target" />
            <xs:element name="set_holomap_zoom" />
            <xs:element name="set_holomap_max_zoom" />
            <xs:element name="reset_holomap_max_zoom" />
            <xs:element name="center_holomap_view" />
            <xs:element name="add_holomap_text" />
            <xs:element name="remove_holomap_text" />
            <xs:element name="lock_holomap_position_input" />
            <xs:element name="unlock_holomap_position_input" />
            <xs:element name="lock_holomap_rotation_input" />
            <xs:element name="unlock_holomap_rotation_input" />
            <xs:element name="lock_holomap_zoom_input" />
            <xs:element name="unlock_holomap_zoom_input" />
            <xs:element name="lock_all_holomap_input" />
            <xs:element name="unlock_all_holomap_input" />
            <xs:element name="lock_all_flight_input" />
            <xs:element name="unlock_all_flight_input" />
            <xs:element name="lock_flight_throttle_input" />
            <xs:element name="unlock_flight_throttle_input" />
            <xs:element name="lock_flight_strafe_input" />
            <xs:element name="unlock_flight_strafe_input" />
            <xs:element name="lock_flight_steering_input" />
            <xs:element name="unlock_flight_steering_input" />
            <xs:element name="lock_flight_assist_input" />
            <xs:element name="unlock_flight_assist_input" />
            <xs:element name="lock_primary_shooting_input" />
            <xs:element name="unlock_primary_shooting_input" />
            <xs:element name="lock_secondary_shooting_input" />
            <xs:element name="unlock_secondary_shooting_input" />
            <xs:element name="lock_all_shooting_input" />
            <xs:element name="unlock_all_shooting_input" />
            <xs:element name="lock_getup" />
            <xs:element name="unlock_getup" />
            <xs:element name="lock_all_firstperson_input" />
            <xs:element name="unlock_all_firstperson_input" />
            <xs:element name="lock_firstperson_walk_input" />
            <xs:element name="unlock_firstperson_walk_input" />
            <xs:element name="lock_firstperson_look_input" />
            <xs:element name="unlock_firstperson_look_input" />
            <xs:element name="lock_firstperson_jump_input" />
            <xs:element name="unlock_firstperson_jump_input" />
            <xs:element name="lock_firstperson_crouch_input" />
            <xs:element name="unlock_firstperson_crouch_input" />
            <xs:element name="set_player_target" />
            <xs:element name="clear_player_target" />
            <xs:element name="set_job_active" />
            <xs:element name="set_objective" />
            <xs:element name="set_objective_from_briefing" />
            <xs:element name="set_presentation_cluster_persistence" />
            <xs:element name="update_objective_progress" />
            <xs:element name="update_mission" />
            <xs:element name="update_objective_endtime" />
            <xs:element name="update_offer" />
            <xs:element name="update_mission_thread_offer" />
            <xs:element name="leave_control_position" />
            <xs:element name="dock_player_ship_at" />
            <xs:element name="undock_player_ship" />
            <xs:element name="force_player_speed" />
            <xs:element name="set_player_firstperson_override" />
            <xs:element name="clear_player_firstperson_override" />
            <xs:element name="connect_player_to_scenario_console" />
            <xs:element name="set_active_mission_waypoint_known" />
            <xs:element name="signal_cue" />
            <xs:element name="signal_cue_instantly" />
            <xs:element name="set_visitor_as_mission_object" />
            <xs:element name="clear_visitor_as_mission_object" />
            <xs:element name="add_online_mission_reward_to_inventory" />
            <xs:element name="set_external_view_allowed" />
            <xs:element name="conditions" />
            <xs:element name="force" />
            <xs:element name="patch" />
            <xs:element name="params" />
            <xs:element name="mdscript" />
            <xs:element name="signature" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="sel" type="xpath" use="required"/>
        <xs:attribute name="if" type="xpath-cond"/>
        <xs:attribute name="silent" type="xs:boolean"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="remove">
    <xs:attribute name="sel" type="xpath" use="required"/>
    <xs:attribute name="if" type="xpath-cond"/>
    <xs:attribute name="silent" type="xs:boolean"/>
  </xs:complexType>

  <!-- ===== Root element ==== -->

  <xs:element name="diff">
    <xs:annotation>
      <xs:documentation>
        XML Patch data
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element name="add" type="add">
            <xs:annotation>
              <xs:documentation>
                Add content
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="replace" type="replace">
            <xs:annotation>
              <xs:documentation>
                Replace content
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="remove" type="remove">
            <xs:annotation>
              <xs:documentation>
                Remove content
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
